<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>nddotedu</string>
    <key>Title</key>
    <string>Links</string>
    <key>Type</key>
    <string>Group</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_nddotedu</string>
    <key>Title</key>
    <string>ND.edu</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_calendar</string>
    <key>Title</key>
    <string>Calendar of Events</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_tour</string>
    <key>Title</key>
    <string>Tour</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_videochannel</string>
    <key>Title</key>
    <string>Video Channel</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_exchange</string>
    <key>Title</key>
    <string>Exchange</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_insidend</string>
    <key>Title</key>
    <string>InsideND</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_gmail</string>
    <key>Title</key>
    <string>Gmail</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_concourse</string>
    <key>Title</key>
    <string>Concourse</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_directories</string>
    <key>Title</key>
    <string>Directories</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_webfile</string>
    <key>Title</key>
    <string>Webfile</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_libraries</string>
    <key>Title</key>
    <string>Libraries</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_acadcal</string>
    <key>Title</key>
    <string>Academic Calendar</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_bookstore</string>
    <key>Title</key>
    <string>ND Bookstore</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_campusmap</string>
    <key>Title</key>
    <string>Campus Map</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_careercenter</string>
    <key>Title</key>
    <string>Career Center</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_dining</string>
    <key>Title</key>
    <string>Dining Menus</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_hr</string>
    <key>Title</key>
    <string>Human Resources</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_irishonline</string>
    <key>Title</key>
    <string>Irish Online</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_itunes</string>
    <key>Title</key>
    <string>iTunes</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_magazine</string>
    <key>Title</key>
    <string>ND Magazine</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_observer</string>
    <key>Title</key>
    <string>The Observer</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_ocw</string>
    <key>Title</key>
    <string>OpenCourseWare</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_oit</string>
    <key>Title</key>
    <string>OIT</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_recsports</string>
    <key>Title</key>
    <string>RecSports</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_registrar</string>
    <key>Title</key>
    <string>Registrar</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>tool_webcams</string>
    <key>Title</key>
    <string>Webcams</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>Type</key>
    <string>Separator</string>
  </dict>
  <dict>
    <key>Title</key>
    <string>Other Settings</string>
    <key>Type</key>
    <string>Group</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_victorymarch</string>
    <key>Title</key>
    <string>Show Victory March</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>tool_search</string>
    <key>Title</key>
    <string>Show Search</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
</array>
</plist>
