<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.github.erunyon.notre-dame-toolbar</string>
       <key>Developer Identifier</key>
       <string>R8WB7X94XV</string>
       <key>CFBundleVersion</key>
       <string>0.11</string>
       <key>CFBundleShortVersionString</key>
       <string>0.1</string>
       <key>URL</key>
       <string>https://github.com/downloads/erunyon/notre-dame-toolbar/NDBar.safariextz</string>
     </dict>
   </array>
</dict>
</plist>