#nddotedutoolbar-toolbar {
  display:block;
  min-height: 16px;
  padding-left:24px;
  background-image: url("chrome://nddotedutoolbar/skin/nd.png");
  border:1px solid red;
}
/*.nddotedutoolbar-toolbar-button {
  list-style-image: url("chrome://nddotedutoolbar/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}*/
.nddotedutoolbar-toolbar-button:hover {
  cursor:pointer;
/*  -moz-image-region: rect(24px 24px 48px  0px);*/
}

#tool_search {font-size:90%;}